    <div class="headertwo clearfloat" id="header">
        <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
        <p class="fl">修改密码</p>
    </div>
    <div class="modify clearfloat" id="main">
        <ul>
            <li class="clearfloat">
                <input type="text" name="phoneNum" id="phoneNum" value="" placeholder="手机" class="sname" />
            </li>
            <li class="clearfloat">
                <input type="text" name="verifyCode" id="verifyCode" value="" placeholder="请输入右图验证码" class="syzma fl" />
                <span class="fl">
                <img id="imgVerifyCode" src="/Main/CreateVerifyCode" />
                </span>
                <a id="huanyz" href="javascript:;" >换一张</a>
            </li>
            <li class="clearfloat">
                <input type="text" name="newPassword" id="newPassword" value="" placeholder="新密码" class="sname" />
            </li>
        </ul>
        <a id="editPassword" href="javascript:;" class="pay-btn clearfloat">
            修改密码
        </a>
    </div>
@section FooterScript
{
            <script type="text/javascript">
        $(function ()
        {
           //验证码
            $("#imgVerifyCode,#huanyz").click(function () {
                $("#imgVerifyCode").attr("src","/Main/CreateVerifyCode?" + Math.random());
                $("#imgVerifyCode").click();
            });
            $("#editPassword").click(function (){
                $.ajax({
                    url: "/Main/ForgetPassword",
                    dataType: "json", type: "post",
                    data: { phoneNum: $("#phoneNum").val(), verifyCode: $("#verifyCode").val(), newPassword: $("#newPassword").val() },
                    success: function (res) {
                        if(res.status=="ok")
                        {
                            alert("密码修改成功");
                        }
                        else {
                            alert(res.errorMsg);
                        }
                    }, error: function ()
                    {
                        alert("网络请求出错");
                    }
               });
            });
        });
    </script>    
}