
    <div class="headertwo clearfloat" id="header">
        <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
        <p class="fl">修改密码</p>
    </div>

    <div class="modify clearfloat" id="main">
        <ul>
            <li class="clearfloat">
                <input type="text" name="phoneNum" id="phoneNum" value="" placeholder="手机" class="sname" />
            </li>
            <li class="clearfloat">
                <input type="text" name="verifyCode" id="verifyCode" value="" placeholder="请输入右图验证码" class="syzma fl" />
                <span class="fl"><img id="imgVerifyCode" src="~/User/CreateVerifyCode" /></span>
                <a id="huanyz" href="#" class="fr">换一张</a>
            </li>
            <li class="clearfloat">
                <input type="text"  name="newPassword" id="newPassword" value="" placeholder="新密码" class="sname" />
            </li>
        </ul>
        <a id="btnEdit" href="#" class="pay-btn clearfloat">
            确认修改
        </a>
    </div>
@section FooterScript
{
    <script type="text/javascript">
        $("#imgVerifyCode,#huanyz").click(function () {
            $("#imgVerifyCode").attr("src", "/User/CreateVerifyCode?" + Math.random())
            $("#imgVerifyCode").click();
        });
        $("#btnEdit").click(function () {
            $.ajax({
                url: "/User/ForgetPassword",
                dataType: "json", type: "post",
                data: { phoneNum: $("#phoneNum").val(), verifyCode: $("#verifyCode").val(), newPassword: $("#newPassword").val()},
            success:function (res)
            {
                if (res.status == "ok")
                {
                    alert("修改成功");                   
                }
                else
                {
                    alert(res.errorMsg);
                    $("#imgVerifyCode").click();                   
                }
    
            },
            error: function ()
            {
                alert("网络请求错误");
            }
            });
        });
    </script>
}

